

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
    font-family: "Cairo", sans-serif !important;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

.flex-parent {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.transition {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
